#firstPara {
    color: lightcoral;
    background-color: darkcyan;
}

.bgBlue {
    color: red;
    background-color: lightskyblue;
}

footer,
span {
    background-color: lightsalmon;
}